form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Full-width inputs */
input[type="text"],
input[type="password"],
input[type="time"] {
  width: 70%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea {
  border: 1px solid #ccc;
  width: 70%;
  padding: 10px 20px;
}

label {
  margin: 15px auto;
}
